.box {
    display: flex;
}
.box {
    display: flex;
}
.box {
    display: flex;
}
.a {
    background-color: aqua;
    padding: 150px;
    margin: 10px;
}
.s {
    background-color: red;
    padding: 150px;
    margin: 10px;
}
.d {
    background-color: blue;
    padding: 150px;
    margin: 10px;
}
.f {
    background-color: yellow;
    padding: 150px;
    margin: 10px;
}
.g {
    background-color: purple;
    padding: 150px;
    margin: 10px;
}
.h {
    background-color: green;
    padding: 150px;
    margin: 10px;
}
.j {
    background-color: brown;
    padding: 150px;
    margin: 10px;
}
.k {
    background-color: cornflowerblue;
    padding: 150px;
    margin: 10px;
}
.m{
    background-color: saddlebrown;
    padding: 150px;
    margin: 10px;
}